# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/
*.lcov

# production
dist/
build/

# misc
.DS_Store
.env
.env.*.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/

# typescript
*.tsbuildinfo

# editor directories and files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac system files
Thumbs.db
ehthumbs.db
